<%= form_with model: @benefit_app_form, local: true, builder: FoundationalProjectFormBuilder, class: "form-card" do |f| %>
  <h2><%= form_title %></h2>
  <%= f.vita_min_text_field(:address, "What's your address?") %>
  <%= f.vita_min_text_field(:phone_number, "What's your phone number?") %>
  <%= f.vita_min_text_field(:email_address, "What's your email address?") %>
  <%= f.button('Continue →', type: :submit, class: "button button--wide button--primary spacing-above-60") %>
<% end %>