<div class="card">
  <div class="emoji emoji-size-155 emoji--clipboard"></div>
  <h1>Submitted Applications</h1>
    <table class="data-table">
      <thead>
      <tr>
        <th>App number</th>
        <th>Date submitted</th>
        <th>Applicant</th>
        <th> </th>
      </tr>
      </thead>
      <tbody>
      <% @apps.each do |benefit_app| %>
        <tr>
          <td><%= benefit_app.id %></td>
          <td><%= benefit_app.submitted_at or 'Not Submitted' %></td>
          <td><%= benefit_app.primary_member_name %></td>
          <td><%= link_to "Delete", delete_benefit_app_path(benefit_app), method: :delete  %></td>
          <td><%= link_to "Edit", edit_benefits_app_path(benefit_app) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <%= link_to 'New Application', new_benefit_app_path , class: 'button button--primary' %>
</div>