<%= form_with model: @form, url: { action: :create_member }, method: :post, local: true, builder: FoundationalProjectFormBuilder, class: "form-card" do |f| %>
  <h2>How can we contact you?</h2>
  <%= f.vita_min_text_field(:first_name, "What's your first name?") %>
  <%= f.vita_min_text_field(:last_name, "What's your last name?") %>
  <%= f.vita_min_text_field(:date_of_birth, "What's your birthdate?", options: {type: "date"}) %>
  <%= f.button('Add Member →', type: :submit, formaction: create_member_path, class: "button spacing-above-60") %>
  <%= f.button('Continue', type: :submit, formaction: validate_application_path, class: "button button--wide button--primary spacing-above-60") %>
<% end %>